body{
	background-color: #222;
	overflow: hidden;
}

h1{
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
	color: #673ab7;
	-webkit-box-reflect: below 2px linear-gradient(transparent,transparent,#0002);
}

h1 span{
	font-family: 'Foldit', cursive;
	color: white;
}

input{
	border-style: hidden;
	border-radius: 8px;
	width: 35vw;
	background-color: #333;
	text-align: center;
	-webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0002);
}
a{
	text-decoration: none;
	width: 100px;
	height: 20px;
	padding-top: 10px;
	background-color: #222;
	text-align: center;
	border-style: solid;
	border-color: #673ab7;
	transition: 0.5s;
	color: #673ab7;
}
a:hover{
	background-color: #673ab7;
	color: black;
}
.search_div{
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
